USE [master]
GO
/****** Object:  Database [moduleCredits]    Script Date: 23/5/2018 11:02:33 ******/
CREATE DATABASE [moduleCredits]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'moduleCredits', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\moduleCredits.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'moduleCredits_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\moduleCredits_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [moduleCredits].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [moduleCredits]
GO
USE [moduleCredits]
GO
/****** Object:  Table [dbo].[client]    Script Date: 23/5/2018 11:02:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client](
	[doc] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[lastName] [varchar](50) NOT NULL,
	[brihtday] [varchar](50) NOT NULL,
	[company] [varchar](50) NOT NULL,
	[nitCompany] [varchar](50) NOT NULL,
	[salary] [varchar](50) NOT NULL,
	[dateAdmision] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[credit]    Script Date: 23/5/2018 11:02:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[credit](
	[idCredit] [varchar](50) NOT NULL,
	[docClient] [varchar](50) NOT NULL,
	[amount] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
